<nav style="width:500px;">
	<ul>
		<li><a href=""># Category</a>
			<ul>
				<li><a href="">All Categories</a></li>
				<li><a href="">Add Category</a></li>
			</ul>
		</li>
		<br>
		<li><a href=""># Sub Category</a>
			<ul>
				<li><a href="">All Sub Categories</a></li>
				<li><a href="">Add Sub Category</a></li>
			</ul>
		</li>
		<br>
		<li><a href=""># Merchant</a>
			<ul>
				<li><a href="">All Merchants</a></li>
				<li><a href="">Add Merchant</a></li>
			</ul>
		</li>
	</ul>

	<br><br>
	
	<ul>
		<li><a href="{% url 'home_page' %}">Home</a></li>
		<li><a href="{% url 'about_page' %}">About</a></li>
		<li><a href="{% url 'home_admin' %}">Home Adboard</a></li>
	</ul>
</nav>